@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Josefin+Sans');

.login-page{
    height:100%;
    width:100%;
    background: url('Images/bg.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Averia Libre, sans-serif !important;
    position: fixed;
}

.login-container-content{
    position:relative;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-container{
    padding-left:5%;
    padding-right:5%;
    width:40%;
    height:100vh;
}

.login-header{
    margin:0;
    padding:0;
    font-size:103px;
    color:white;
    font-style:italic;
    font-family: Josefin Sans, sans-serif !important;
}

.login-header h1{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
}

.login-paragraph{
    font-size:22px;
    color:white;
    padding-bottom:10px;
}

.login-paragraph p{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
}

.login-forms input{
    width:70%;
    margin-top:15px;
    margin-bottom:15px;
    height:35px;
    transform: skewX(-25deg);
    text-indent: 20px;
    margin-left:8px;
    border:0;
    background-color:#9CC4FF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    font-family: Averia Libre, sans-serif !important;
}

input:focus{
    outline: none;
}
button:focus{
    outline: none;
}

.buttons-login{
    width:200px;
    height:50px;
    transform: skewX(-25deg);
    margin-top:30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    font-weight: bold;
    font-size:17px;
    letter-spacing: 1px;
    font-family: Averia Libre, sans-serif !important;
}

.button-prijava{
    margin-right:15px;
    color:#3384FF;
    border:0;
    transition:0.2s ease;
}


.button-seperator{
    color:#DBDBDB;
    font-size:21px;
}


.button-prijava:hover{
    transition:0.2s ease;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0.8);

}

.button-registracija{
    margin-left:15px;
    color:white;
    border-color:white;
    border-style: solid;
    border-width: 5px;
    background:transparent;
    transition:0.2s ease;
}

.button-registracija:hover{
    background:white;
    color:#3384FF;
    transition:0.2s ease;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
}

.button-seperator{
    font-style:italic;
}

.paper-container{
    width: 47%;
    position: absolute;
    top:10%;
    right: 0;
    transform: rotate(20deg);
}

.paper-image{
    max-width:45vmax;
    height:auto;
}
@media screen and (max-width: 1350px) {
    .paper-image{
        max-width:50vmax;
        height:auto;
    }
}

@media screen and (max-width: 1250px) {
    .login-forms input{
        width:85%;
        margin-left:8px;
    }
    .buttons-login{
        width:170px;
        height:45px;
        margin-top:25px;
    }
    .login-header{
        font-size:90px;
    }
    .login-paragraph{
        font-size:20px;
    }
    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 50%;
    }
}

@media screen and (max-width: 940px) {
    .paper-image{
        max-width:80vmax;
        height:auto;
    }
}

@media screen and (max-width: 850px) {
    .paper-container{
        width: 53%;
        top:10%;
        right:-5%;
    }
    .buttons-login{
        width:150px;
        height:40px;
        margin-top:20px;
    }
    .login-header{
        font-size:60px;
    }
    .login-paragraph{
        font-size:16px;
    }
    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 55%;
    }
}

@media screen and (max-width: 720px) {
    .paper-container{
        width: 45%;
    }
    .buttons-login{
        width:130px;
        height:37px;
        margin-top:18px;
        font-size:14px;
    }
    .login-header{
        font-size:40px;
    }
    .login-paragraph{
        font-size:14px;
    }
    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .paper-container{
        display:none;
    }
    .buttons-login{
        width:130px;
        height:40px;
        margin-top:25px;
        font-size:14px;
        margin-bottom:35px;
    }
    .login-header{
        font-size:50px;
        margin-bottom:25px;
    }
    .login-paragraph{
        font-size:16px;
        margin-bottom:20px;
    }
    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 95%;
    }
}

@media (min-height: 1020px) and (max-width: 800px) {
    .paper-image{
        display:none;
    }
    .buttons-login{
        width:180px;
        height:50px;
        margin-top:35px;
        font-size:20px;
        margin-bottom:35px;
    }
    .login-header{
        font-size:90px;
        margin-bottom:35px;
    }
    .login-paragraph{
        font-size:20px;
        margin-bottom:40px;
    }
    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 93%;
    }
    .login-forms input{
        height:45px;
    }
}

@media (min-height: 1100px) and (max-width: 1100px) {
    .paper-image{
        display:none;
    }
    .buttons-login{
        width:210px;
        height:55px;
        margin-top:40px;
        font-size:24px;
        margin-bottom:45px;
    }
    .login-header{
        font-size:110px;
        margin-bottom:45px;
    }
    .login-paragraph{
        font-size:24px;
        margin-bottom:50px;
    }
    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 93%;
    }
    .login-forms input{
        height:50px;
    }
}

/*####################################################      END OF Login.js COMPONENT       ####################################################*/

.registration-page{
    height:100%;
    width:100%;
    background: url('Images/bg.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}

.registration-container{
    position:relative;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-content-left{
    width:40%;
    color:white;
}

.registration-content-left h1{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 80px;
}

.registration-paper{
    height: 85vh;
    position: absolute;
    top: 15%;
    right: 10%;
    width: 50%;
    background-color: white;
    box-shadow: -6px -5px 13px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-form{
    width:87%;
    height:auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label input{
    width:100%;
    border:0;
    height:25px;
    border-bottom: 2px solid black;
}

.label{
    margin-bottom:60px;
}

.register-buttons-container{
    text-align: center;
}

.buttons-register{
    width:200px;
    height:50px;
    margin-top:30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    font-weight: bold;
    font-size:17px;
    letter-spacing: 1px;
    font-family: Averia Libre, sans-serif !important;

}

.button-prijavi-se{
    margin-left:80px;
    color:#3384FF;
    transition:0.2s ease;
    border-color:#3384FF;
    border-style: solid;
    border-width: 5px;
    background-color:transparent;
}

.button-prijavi-se:hover{
    transition:0.2s ease;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    background: #3384FF;
    color:white;
}

.button-registriraj-se{
    margin-right:80px;
    color:white;
    background:#3384FF;
    transition:0.2s ease;
    border:0;
}

.button-registriraj-se:hover{
    background: rgba(49, 134, 255, 0.15);
    color:#3384FF;
    transition:0.2s ease;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
}


@media screen and (max-width: 1500px) {
    .registration-content-left h1{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 70px;
    }

    .label{
        margin-bottom:45px;
    }

    .buttons-register{
        width:180px;
        height:45px;
        margin-top:20px;
        font-size:16px;
    }

    .button-prijavi-se{
        margin-left:60px;
    }

    .button-registriraj-se{
        margin-right:60px;
    }
}



@media screen and (max-width: 1150px) {
    .registration-content-left h1{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 50px;
    }

    .label{
        margin-bottom:25px;
    }

    .label h3{
        font-size:18px;
    }

    .buttons-register{
        width:140px;
        height:35px;
        margin-top:15px;
        font-size:14px;
    }

    .button-prijavi-se{
        margin-left:40px;
    }

    .button-registriraj-se{
        margin-right:40px;
    }
}


@media screen and (max-width: 870px) {

    .registration-paper{
        height: 100vh;
        top: 5%;
        display:block;
    }

    .registration-content-left{
        display:none;
    }
    .registration-form{
        padding-left: 5%;
        position: absolute;
        top: 10%;
    }
    .registration-paper{
        width:80%;
    }
}


@media screen and (max-width: 545px) {
    .label{
        margin-bottom:15px;
    }

    .buttons-register{
        width:120px;
        height:35px;
        margin-top:10px;
        font-size:13px;
    }
    .registration-paper {
        right: 5%;
        width:90%;
    }

    .button-prijavi-se{
        margin-left:15px;
    }

    .button-registriraj-se{
        margin-right:15px;
    }
}

@media screen and (max-width: 420px) {
    .label{
        margin-bottom:10px;
    }

    .button-seperator{
        font-size:10px;
        margin-left:5px;
        margin-right:5px;
        color:grey;
    }
    .buttons-register{
        width:125px;
        height:40px;
        margin-top:25px;
        font-size:13px;
        letter-spacing: 0;
    }

    .button-prijavi-se{
        margin-left:0;
    }

    .button-registriraj-se{
        margin-right:0;
    }

    .registration-paper{
        width:90%;
    }
}


@media (min-height: 1100px) and (max-width: 1100px) {
    .label{
        margin-bottom:40px;
    }

    .registration-content-left{
        display:none;
    }

    .button-seperator{
        font-size:14px;
        margin-left:20px;
        margin-right:20px;
    }
    .buttons-register{
        width:200px;
        height:60px;
        margin-top:35px;
        font-size:17px;
        letter-spacing: 1;
    }

    .button-prijavi-se{
        margin-left:30px;
    }

    .button-registriraj-se{
        margin-right:30px;
    }

    .registration-paper{
        width:90%;
        left:5%;
    }
}

/*####################################################      END OF Register.js COMPONENT       ####################################################*/